USE [master]
GO
/****** Object:  Database [AUTH_DB]    Script Date: 4/26/2026 12:34:33 PM ******/
CREATE DATABASE [AUTH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AUTH_DB', FILENAME = N'D:\SQL sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\AUTH_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AUTH_DB_log', FILENAME = N'D:\SQL sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\AUTH_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AUTH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AUTH_DB]
GO
/****** Object:  User [quang]    Script Date: 4/26/2026 12:34:33 PM ******/
CREATE USER [quang] FOR LOGIN [quang] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [quang]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 4/26/2026 12:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Action] [nvarchar](20) NULL,
	[Endpoint] [nvarchar](255) NULL,
	[Payload] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[IPAddress] [nvarchar](45) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 4/26/2026 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permissions]    Script Date: 4/26/2026 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/26/2026 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 4/26/2026 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/26/2026 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Username], [Action], [Endpoint], [Payload], [Status], [IPAddress], [Timestamp]) VALUES (1, 1, N'admin_thanh', N'LOGIN', N'/api/auth/login', NULL, 200, N'192.168.1.1', CAST(N'2026-04-23T18:52:47.870' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Username], [Action], [Endpoint], [Payload], [Status], [IPAddress], [Timestamp]) VALUES (2, 2, N'hr_quang', N'PUT', N'/api/employees/101', N'{"name": "Nguyen Van Quang", "pos": "Manager"}', 200, N'192.168.1.15', CAST(N'2026-04-23T18:52:47.870' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Username], [Action], [Endpoint], [Payload], [Status], [IPAddress], [Timestamp]) VALUES (3, 4, N'emp_minh', N'GET', N'/api/payroll/self/505', NULL, 200, N'172.16.0.5', CAST(N'2026-04-23T18:52:47.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (1, N'EMP_VIEW', N'Xem danh sách nhân viên')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (2, N'EMP_EDIT', N'Thêm/Sửa nhân viên')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (3, N'PAY_VIEW', N'Xem bảng lương tổng hợp')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[Role_Permissions] ([RoleID], [PermissionID]) VALUES (1, 1)
INSERT [dbo].[Role_Permissions] ([RoleID], [PermissionID]) VALUES (1, 2)
INSERT [dbo].[Role_Permissions] ([RoleID], [PermissionID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Toàn quyền hệ thống, quản lý người dùng và xem Audit Logs')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'HR Manager', N'Quản lý nhân viên, phòng ban, chức vụ và đồng bộ dữ liệu')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Payroll Manager', N'Quản lý bảng lương, chuyên cần và lịch sử lương')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[User_Role] ([UserID], [RoleID], [AssignedAt]) VALUES (1, 1, CAST(N'2026-04-23T18:52:47.853' AS DateTime))
INSERT [dbo].[User_Role] ([UserID], [RoleID], [AssignedAt]) VALUES (2, 2, CAST(N'2026-04-23T18:52:47.853' AS DateTime))
INSERT [dbo].[User_Role] ([UserID], [RoleID], [AssignedAt]) VALUES (3, 3, CAST(N'2026-04-23T18:52:47.853' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [Email], [IsActive], [CreatedAt]) VALUES (1, N'admin_thanh', N'$2a$12$R9h/cIPz0gi.URQHeNHGaOTLzVmGVUWQH.4pS.L45T.S.67890', 1, N'admin@company.com', 1, CAST(N'2026-04-23T18:52:47.843' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [Email], [IsActive], [CreatedAt]) VALUES (2, N'hr_quang', N'$2a$12$R9h/cIPz0gi.URQHeNHGaOTLzVmGVUWQH.4pS.L45T.S.67890', 101, N'hr.quang@company.com', 1, CAST(N'2026-04-23T18:52:47.843' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [Email], [IsActive], [CreatedAt]) VALUES (3, N'pay_lan', N'$2a$12$R9h/cIPz0gi.URQHeNHGaOTLzVmGVUWQH.4pS.L45T.S.67890', 202, N'payroll.lan@company.com', 1, CAST(N'2026-04-23T18:52:47.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__91FE575047E35DA6]    Script Date: 4/26/2026 12:34:34 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160DE673B2D]    Script Date: 4/26/2026 12:34:34 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E43EF46438]    Script Date: 4/26/2026 12:34:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[User_Role] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_Audit_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_Audit_User]
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePerm_Perm] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[Role_Permissions] CHECK CONSTRAINT [FK_RolePerm_Perm]
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePerm_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Role_Permissions] CHECK CONSTRAINT [FK_RolePerm_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UserRole_User]
GO
USE [master]
GO
